.sticky {
	display: block;
}

.post,
.page {
	//margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

//Accordion
.accordion {
	&-heading {
		padding: 2rem;
		background-color: #ffffff;
		border: 2px solid var(--color-text-primary);
		margin-top: 1rem;
		a {
			text-decoration: none;
			color: var(--color-text-primary);
		}
	}
	&-toggle {
		display: block;
	}
	&-content {
		display: none;
	}
	&-content.active {
		display: block;
		padding: 2rem;
		background-color: #ffffff;
		border-bottom: 2px solid var(--color-text-primary);
		border-left: 2px solid var(--color-text-primary);
		border-right: 2px solid var(--color-text-primary);
	}
}