:root {
    --color-primary: #5A825A;
    --canvas-green: #F4FBF3;
    --color-secondary: #F0821F;
    
    --color-text-primary: #1E1E1E;
    --color-text-light: #ffffff;
    
    --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
    --rounded-corners: 20px;
    --section-padding: 5rem 0;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @media only screen and (max-width:$bp-large) {
        font-size: 50%;
    }
    @media only screen and (max-width:$bp-medium) {
        font-size: 55%;
    }
    @media only screen and (max-width:$bp-small) {
        font-size: 40%;
    }
}

@import "elements/links";
@import "elements/lists";
@import "elements/body";
@import "elements/buttons";
@import "elements/fields";
@import "elements/hr";
@import "elements/media";
@import "elements/tables";

@import "typography/copy";
@import "typography/headings";
@import "typography/typography";
