.section__blog-navigation {
    background-color: beige;
    display: flex;
    align-items: center;
    border: var(--rails);
    & > div {
        margin-right: 3px;
        //border: 1px solid crimson;
    }
    .categories-list {
        ul {
            display: flex;
            margin-left: 0;
            margin-bottom: 0;
            li {
                list-style: none;
                margin-right: 1rem;
                span {
                    text-decoration: underline;
                    font-style: italic;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .tag-dropdown {
        //background-color: aquamarine;
        flex: 0 0 auto;
    }
    .search-box {
        //background-color: blanchedalmond;
        flex: 1 2 auto;
        max-width: 20rem;
        min-width: 10rem;
        margin-left: auto;
    }
}