// Blog Navigation.scss
.section__blog-navigation {
    display: flex;
    align-items: center;
    border: var(--rails);
    //background-color: teal;
    .categories-pane {
        //background-color: orange;
        border: var(--rails);
        display: flex;
        box-shadow: var(--shadow-light);
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: .3rem;
        @media only screen and (max-width: $bp-medium) {
            padding-left: 0rem;
            padding-right: 0rem;
        }
        &__list {
            ul {
                //background-color: orangered;
                display: flex;
                margin-left: 0;
                margin-bottom: 0;
                background-color: white;
                //border: var(--rails);
                @media only screen and (max-width: $bp-medium) {
                    display: none;
                }
                li {
                    list-style: none;
                    &:not(:first-child) {
                        margin-left: 1rem;
                    }
                    a, span {
                        display: inline-block;
                        padding-bottom: 1.2rem;
                        padding-top: 1.2rem;
                        border-bottom: 4px solid transparent;
                        text-decoration: none;
                        &:hover {
                            border-bottom: 4px solid var(--color-primary);
                            color: currentColor;
                        }
                    }
                    span {
                        //font-style: italic;
                        color: lightgray;
                        border-bottom: 4px solid var(--color-primary);
                        &:hover {
                            border-bottom: 4px solid var(--color-primary);
                            color: lightgray;
                        }
                    }
                    
                }
                &.expanded {
                    flex-direction: column;
                    display: inherit;
                    position: absolute;
                    margin-top: 4.5rem;
                    border-radius: 5px;
                    box-shadow: var(--shadow-light);
                    @media only screen and (max-width: $bp-small) {
                        width: 100%;
                    }
                    li {
                       //background-color: red;
                        margin-left: 0;
                        a, span {
                            border: var(--rails);
                            padding: 2rem 2rem;
                            width: 100%;
                        }
                        span {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        &__toggle {
            display: none;
            @media only screen and (max-width: $bp-medium) {
                display: inherit;
            }
            .categories-pane__toggle--button {
                font-size: 1.5rem;
                padding: 1rem 1rem;
                background-color: white;
                border: 1px solid var(--color-text-primary);
                box-shadow: var(--shadow-light);
                &:active {
                    //background-color: var(--color-primary);
                    //color: white;
                }
                span::after {
                    content: "\203A";
                    font-size: 1.5rem;
                    margin-left: 1rem;
                    display: inline-block;
                    transition: all .25s;
                    rotate: 90deg;
                }
                &.expanded {
                    span::after {
                        rotate: -90deg;
                    }
                }
            }
        }
    }

    .tag-dropdown {
        flex: 0 0 auto;
        border: var(--rails);
        background-color: red;
        margin-left: 5px;
        border-radius: .3rem;
        button {
            font-size: 1.5rem;
            padding: 1rem 1rem;
            background-color: white;
            border: 1px solid var(--color-text-primary);
            box-shadow: var(--shadow-light);
            span::after {
                content: "\203A";
                font-size: 1.5rem;
                margin-left: 1rem;
                display: inline-block;
                transition: all .25s;
                rotate: 90deg;
            }
            &.expanded {
                span::after {
                    rotate: -90deg;
                }
            }
        }
        &__panel {
            //background-color: green;
            display: none;
        }
        &__panel.expanded {
            background-color: white;
            display: inherit;
            position: absolute;
        }
    }
    .search-box {
        background-color: yellow;
        border: var(--rails);
        flex: 1 2 auto;
        max-width: 20rem;
        min-width: 10rem;
        margin-left: auto;
    }
}