.section__breadcrumbs {
    //background-color: gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    border: var(--rails);
    ol.breadcrumb {
        display: flex;
        list-style-type: none;
        margin-bottom: 0;
        margin-left: 0;
        .breadcrumb-item{
            margin-right: 1rem;
            font-size: 1.4rem;
            a {
                color: var(--color-primary);
                text-decoration: none;
            }
        }
        :not(:last-child).breadcrumb-item::after{
            display: inline-block;
            content: ">";
            margin-left: 1rem;
        }
    }
}