.section {
	&__navbar {
		padding: 1rem 0rem;
	}
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}
.menuToggle {
	@media only screen and (min-width: $bp-medium) {
		display: none;
	
		top: 6rem;
		right: 1rem;
	}
}
.main-navigation.toggled {
	* {
		color: red !important;
	}
}
.logo-box {
	span {
		color: var(--color-secondary);
	}
}
.menu-box {
	ul {
		display: flex;
		@media only screen and (max-width: $bp-medium) {
			flex-direction: column;
			align-items: center;
		}
		li {
			a {
				//background-color: crimson;
				display: inline-block;
				padding: 1rem 2rem;
				text-transform: uppercase;
				text-decoration: none;
				color: var(--color-text-primary);
				font-size: 1.4rem;
				font-weight: 700;
				&:hover {
					color: var(--color-secondary);
				}
			}
			list-style-type: none;
			margin-left: 2rem;
			
			&:last-child{
				background-color: var(--color-secondary);
				border-radius: 10px;
				&:hover {
					opacity: 0.75;
				}
				a {
					color: #ffffff;
				}

			}
		}
	}
}