.post-navigation {
    //border: var(--rails);
    display: flex;
    justify-content: space-between;
    padding-top: .8rem;
    padding-bottom: .8rem;
    .next-post-link {
        margin-left: auto;
    }
    a {
        font-size: 1.4rem;
    }
}