.section__tag-section {
    .tags-list {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        border: var(--rails);
        .tag-link {
            margin-left: .5rem;
        }
    }
}