button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

// a.button {
// 	color: #ffffff;
// 	padding: 1rem 5rem;
// 	display: inline-block;
// 	border: 3px solid var(--color-secondary);
// 	margin-top: 2rem;
// 	cursor: pointer;
// 	border-radius: 1rem;
// 	text-transform: uppercase;
// 	font-size: 2rem;
// 	font-weight: bold;
// 	text-decoration: none;
// 	&__primary {
// 		background-color: var(--color-secondary);
// 		&:hover {
// 			opacity: .7;
// 		}
// 	}
// 	&__secondary {
// 		background-color: transparent;
// 		&:hover {
// 			opacity: .7;
// 		}
// 	}
// }