#page {
	//max-width: 1440px;
	margin: 0 auto;
}

.container {
	//max-width: 1440px;
	//background-color: orange;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.section {
	width: 1140px;
	border: 1px solid crimson;
	//background-color: grey;
}

