.soil-gel-page {
	.container {
		&__1 {
			// background-color: var(--canvas-green);
			.section {
				text-align: center;
			}
		}
		&__2 {
			background-color: var(--canvas-green);
		}
		&__3 {
			background-color: #ffffff;
		}
		&__4 {
			background-color: var(--canvas-green);
		}
	}
	.section {
		&__how-it-works {
			background-image: linear-gradient(to right bottom, var(--color-primary), #B7CCB7);
			background-size: cover;
			text-align: center;
			color: var(--color-text-light);
			border-radius: var(--rounded-corners);
			margin: var(--section-margin);
			.content{
				display: flex;
				img {
					width: 300px;
					height: 300px;
					border-radius: 100%;
					margin-bottom: 1.5rem;
				}
				> div {
					display: flex;
					flex-direction: column;
					width: 50%;
					align-items: center;
				}
			}
		}

		&__testimonial {
			text-align: center;
			padding: 10rem 15rem;
		}

		&__application {
			//background-color: antiquewhite;
			display: flex;
			padding: 3rem 3rem;
			border: 3px solid var(--color-primary);
			border-radius: var(--rounded-corners);
			margin-bottom: 5rem;
			margin-top: 5rem;
			.copy {
				//background-color: aquamarine;
				width: 40%;
				align-self: center;
				padding-right: 5rem;
			}
			.image-grid {
				width: 60%;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				background-color: red;

				&__grid-item{
					width: 31%;
					&--image {
						width: 100%;
						border-radius: var(--rounded-corners);
						z-index: 2;
					}
					&--caption {
						background-color: #212121;
						text-align: center;
						margin-top: -2.8rem;
						position: relative;
						z-index: 3;
						border-bottom-left-radius: 2rem;
						border-bottom-right-radius: 2rem;
						color: #ffffff;
						margin-bottom: 1rem;
					}
				}
			}
		}
		&__benefits {
			text-align: center;
			margin: var(--section-margin);
			padding-left: 0rem;
			padding-right: 0rem;
			.card-section {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2rem;
				.card {
					width: 32%;
					background-color: var(--canvas-green);
					border-radius: var(--rounded-corners);
					img {
						border-radius: 100%;
						width: 12.5rem;
						height: 12.5rem;
						margin-top: 2rem;
					}
					ul {
						text-align: left;
						list-style-type: none;
						margin-left: 1.5rem;
						li:last-child {
							margin-bottom: 2rem;
						}
					}
				}
			}
		}
		&__social-proof {
		
			background-image: linear-gradient(to right bottom, #B7CCB7, var(--color-primary));
			border-radius: var(--rounded-corners);
			padding: 10rem 15rem;
			text-align: center;
			margin: var(--section-margin);

			h4 {
				color: #ffffff;
			}
		}
	}
}