.soil-gel-page {
	.container {
		&__1 {
			background-size: cover;
			background-position: center;
			height: 820px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@import "soil-gel/hero";
		}
		&__2 {
			background-color: var(--canvas-green);
			.section {
				@import "soil-gel/how-it-works";
				@import "soil-gel/testimonial";
				@import "soil-gel/applications";
			}
		}
		&__3 {
			background-color: #ffffff;
			.section {
				@import "soil-gel/benefits";
			}
		}
		&__4 {
			background-color: var(--canvas-green);
			.section {
				@import "soil-gel/faq";
				@import "soil-gel/social-proof";
			}
		}
	}
}