.hero {
    padding: 1rem 1rem;
    display: flex;
    border: 2px solid var(--color-primary);
    border-radius: 20px;
    margin-bottom: 2rem;
    .left {
        //background-color: red;
        flex: 0 0 55%;
        //border: 1px solid black;
        padding: 20rem 5rem;
        h1 {
            font-size: 4rem;
        }
    }
    .right {
        position: relative; /* Ensure that the pseudo-element is positioned relatively to this container */
        flex: 0 0 45%;
        //border: 1px solid black;
    
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('images/hero.png') no-repeat center center;
            background-size: cover;
            transform: scaleX(-1); /* Flip the pseudo-element horizontally */
            z-index: -1; /* Position the pseudo-element behind the content of '.right' */
        }
    }
    
}